*{
    margin: 0;
}
@media only screen and (min-width: 800px) {
    body{
        font-family: 'Poppins', sans-serif;
        width: 1340px;
        margin: auto;
        background-color: #BFD4F6;
        color: black;
        font-weight: 700;
    }
    .top-navbar{
        width: 100%;
        height: 50px;
        background-color: #06283D;
        color: white;

    }
    .nav-detail, .nav-detail-1, .nav-detail-2{
        color: #DFF6FF;
        margin-right: 25px;
        line-height: 50px;
        font-size: 14px;
        opacity: 0.5;
    }
    .nav-detail-1{
        margin-left: 150px;
    }
    .nav-detail-2{
        margin-right: 530px;
    }

    .mid-navbar{
        height: 60px;
        border-bottom: 0.7px solid black;
        font-size: 27px;
        font-weight: 700;
        text-indent: 70px;
    }
    .mid-navbar a{
        line-height: 60px;
        vertical-align: middle;
        font-size: 15px;
        color: #06283D;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 12px;
    }
    .links{
        margin-left: 175px;
    }
    .links a:hover{
        color: #72E22A;
    }
    .main-pic{
        width: 1340px;
        height: 750px;
        margin-bottom: 20px;
    }
    .body{
        height: 100vh;
    }
    .About{
        font-size: 40px;
        text-align: center;
        font-family: 'Roboto', cursive;
        margin-bottom: 16px;
        font-weight: 700;
        color: white;
        padding: 5px 0;
        background-color: #E22A72;
    }
    .sub-head{
        font-size: 23px;
        font-weight: 500;
        font-family: 'Edu TAS Beginner', cursive;
        text-align: center;
    }
    .about-info{
        line-height: 22px;
        margin: 0 70px 22px 70px;
        text-align: center;
    }

    .academics{
        height: 100vh;
    }
    .academic-info{
        line-height: 22px;
        margin: 0 70px 22px 70px;
    }
    .academic-pics{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .academic-pics img{
        margin-right: 20px;
        width: 50px;
        height: 50px;
    }
    .contact{
        height: 80vh;
    }
    .address{
        font-size: 23px;
        font-weight: 600;
        text-indent: 70px;
        text-decoration: underline;
        margin-bottom: 8px;
    }
}