*{
    margin: 0;
}
@media only screen and (min-width: 800px) {
    body{
        font-family: 'Poppins', sans-serif;
        width: 1460px;
    }
    .top-navbar{
        width: 100%;
        height: 50px;
        background-color: #06283D;
        color: white;
    }
    .nav-detail, .nav-detail-1, .nav-detail-2{
        color: #47B5FF;
        margin-right: 25px;
        line-height: 50px;
        font-size: 14px;
        opacity: 0.5;
    }
    .nav-detail-1{
        margin-left: 150px;
    }
    .nav-detail-2{
        margin-right: 530px;
    }

    .mid-navbar{
        height: 60px;
        border-bottom: 0.7px solid black;
        font-size: 30px;
        font-weight: 700;
        text-indent: 150px;
    }
    .mid-navbar a{
        line-height: 60px;
        vertical-align: middle;
        font-size: 15px;
        color: #06283D;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 12px;
    }
    .links{
        margin-left: 175px;
    }
    img{
        width: 1460px;
        height: 850px;
}
